@media screen and (max-width: 955px){
    .container{
        height: 150vh;
        grid-template-columns: 4, 0.5fr;
        gap: 10px;
    }
    .box1{
        grid-row: span 2;
    }
    .box2{
        grid-column: span 1;
        background: url('./dragon/hero\ 5.png') no-repeat left/cover;;
    }
    .box3{
        grid-column: span 2;

    }
    /* .box4 img{
        animation: none;
        display: none;
    visibility: hidden;

    } */
    .box4{
        display: none;
    visibility: hidden;
        /* grid-column: span 3; */

    }
    .box20{
        background: url('./dragon/beach.webp') no-repeat center/cover;
    }
    .box20 img{
        display: none;

    }
}
